<%- include('../partials/header', { title: genre[0].name }) %>

<div class="container">
  <% if (genre.length > 0) { %>
  <div class="title-bar">
    <h1 class="page-title"><%= genre[0].name %></h1>
    <a href="/genres/<%= genre[0].genre_id %>/edit" class="create-btn"
      >Edit Genre</a
    >
  </div>
  <% } else { %>
  <p>Genre not found</p>
  <% } %> <% if (games.length > 0) { %>
  <div class="grid-container">
    <% games.forEach(game => { %>
    <div class="grid-card">
      <h2><a href="/games/<%= game.game_id %>"><%= game.title %></a></h2>
      <p><strong>Release Year:</strong> <%= game.release_year %></p>
      <% if (game.price === '0.00') { %>
      <p><strong>Price:</strong> Free-to-play</p>
      <% } else { %>
      <p><strong>Price:</strong> $<%= game.price %></p>
      <% } %>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <p class="empty-message">No games available.</p>
  <% } %>
</div>

<%- include('../partials/footer') %>
