<%- include('../partials/header', { title: developer[0].name }) %>

<div class="container">
  <% if (developer.length > 0) { %>
  <div class="title-bar">
    <h1 class="page-title"><%= developer[0].name %></h1>
    <div>
      <a
        href="/developers/<%= developer[0].developer_id %>/edit"
        class="create-btn"
        >Edit Developer</a
      >
      <a
        href="/developers/<%= developer[0].developer_id %>/delete"
        class="create-btn"
        >Delete Developer</a
      >
    </div>
  </div>
  <% } else { %>
  <p>Developer not found</p>
  <% } %> <% if (developer.length > 0) { %>
  <div>
    <p><strong>Developer:</strong> <%= developer[0].name %></p>
    <p><strong>Country:</strong> <%= developer[0].country %></p>
  </div>
  <% } else { %>
  <p class="empty-message">No developers available.</p>
  <% } %>
</div>

<%- include('../partials/footer') %>
